<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GetPostPutDeleteApiTests">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.org.tests.Getapitest"/>
      <class name="com.org.tests.Deleteapitest"/>
      <class name="com.org.tests.Putapitest"/>
      <class name="com.org.tests.Postapitest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- GetPostPutDeleteApiTests -->
